
.vs/RPGMonoGame/v16/Server/sqlite3/storage.ide
.vs/RPGMonoGame/v16/.suo
RPGMonoGame/obj/x86/Debug/RPGMonoGame.csproj.CoreCompileInputs.cache
RPGMonoGame/obj/x86/Debug/RPGMonoGame.csprojAssemblyReference.cache
*.ide
.vs/RPGMonoGame/v16/Server/sqlite3/storage.ide
.vs/RPGMonoGame/v16/.suo
RPGMonoGame/obj/x86/Debug/RPGMonoGame.csproj.CoreCompileInputs.cache
RPGMonoGame/obj/x86/Debug/RPGMonoGame.csprojAssemblyReference.cache
.vs/RPGMonoGame/v16/Server/sqlite3/storage.ide-wal
*.ide-wal
*.ide-shm
*.ide
.vs/RPGMonoGame/v16/.suo
RPGMonoGame/bin/Windows/x86/Debug/RPGMonoGame.exe
RPGMonoGame/bin/Windows/x86/Debug/RPGMonoGame.pdb
RPGMonoGame/Content/obj/Windows/Content/.mgcontent
RPGMonoGame/Content/obj/Windows/Content/.mgstats
RPGMonoGame/Content/obj/Windows/Content/Arrow.mgcontent
RPGMonoGame/Content/obj/Windows/Content/BattleButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/BattleButtonHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ClassSelectMage.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ClassSelectMageHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ClassSelectRogue.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ClassSelectRogueHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ClassSelectWarrior.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ClassSelectWarriorHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/DefaultButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/DefaultButtonHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Eight.mgcontent
RPGMonoGame/Content/obj/Windows/Content/EquipBox.mgcontent
RPGMonoGame/Content/obj/Windows/Content/EquipBoxContains.mgcontent
RPGMonoGame/Content/obj/Windows/Content/EquipBoxHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/EquipBoxHoverContains.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Fiv.mgcontent
RPGMonoGame/Content/obj/Windows/Content/For.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ItemButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/ItemButtonHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/LoadGame.mgcontent
RPGMonoGame/Content/obj/Windows/Content/MagicButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/MagicButtonHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/NextPageInv.mgcontent
RPGMonoGame/Content/obj/Windows/Content/NextPageInvHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Nine.mgcontent
RPGMonoGame/Content/obj/Windows/Content/NumInput.mgcontent
RPGMonoGame/Content/obj/Windows/Content/One.mgcontent
RPGMonoGame/Content/obj/Windows/Content/PlayerFigure.mgcontent
RPGMonoGame/Content/obj/Windows/Content/PrevPageInv.mgcontent
RPGMonoGame/Content/obj/Windows/Content/PrevPageInvHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/QuitButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/RunButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/RunButtonHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Sev.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Six.mgcontent
RPGMonoGame/Content/obj/Windows/Content/SkillsButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/SkillsButtonHover.mgcontent
RPGMonoGame/Content/obj/Windows/Content/smallFont.mgcontent
RPGMonoGame/Content/obj/Windows/Content/StartButton.mgcontent
RPGMonoGame/Content/obj/Windows/Content/StartButtonFont.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Story.mgcontent
RPGMonoGame/Content/obj/Windows/Content/StoryItalics.mgcontent
RPGMonoGame/Content/obj/Windows/Content/TextBox.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Thr.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Two.mgcontent
RPGMonoGame/Content/obj/Windows/Content/Zero.mgcontent
RPGMonoGame/obj/x86/Debug/RPGMonoGame.csproj.CoreCompileInputs.cache
RPGMonoGame/obj/x86/Debug/RPGMonoGame.csprojAssemblyReference.cache
RPGMonoGame/obj/x86/Debug/RPGMonoGame.exe
RPGMonoGame/obj/x86/Debug/RPGMonoGame.pdb
